In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1/2.0

0.5

In [4]:
2 * 4

8

In [5]:
4**2

16

In [6]:
(2 + 3) * 5

25

In [8]:
#Modulus 
5 % 2

1

In [9]:
var = 2

In [10]:
var

2

In [11]:
x = 2

In [12]:
y = 4

In [13]:
x + y

6

In [14]:
x += x

In [15]:
print(x)

4

In [16]:
x += x

In [17]:
print(x)

8

In [22]:
name = 'akash'
age = 23

In [23]:
print(str)

I can't go

In [28]:
"My name is {one} and my age is {two}".format(two=age,one=name)

'My name is akash and my age is 23'

In [29]:
s = 'hello'
s[0]

'h'

In [30]:
s[4]

'o'

In [32]:
s1 = 'abcdefghodjkl'
s1[0:]

'abcdefghodjkl'

In [33]:
s1[:3] #excluding the element index mentioned here

'abc'

In [36]:
s1[3:7]

'defg'

In [64]:
#Lists are basically arrays 
[1,2,3]

[1, 2, 3]

In [75]:
#can take in any datatypes 
my_list = ['a', 'b', 12]
my_list.append('c')
print(my_list)

['a', 'b', 12, 'c']

In [40]:
my_list.append('d')
print(my_list)

['a', 'b', 12, 'd']

In [41]:
my_list[0] = 'new'
print(my_list)

['new', 'b', 12, 'd']

In [46]:
#nested_List 
nested = [1,2,['ab']] 
print(nested[2][0])

ab

In [65]:
#dictonaries are key:value pairs 
#basically like objects 
d = {12: 'value1', 'key2': [1,2,3]}

In [66]:
print(d)

{12: 'value1', 'key2': [1, 2, 3]}

In [67]:
d['key2'][1]

2

In [68]:
#tuples are immutable 
#cant be changed 
t = (1,2,3)

In [73]:
#set is a collection of unique elements 
#removes duplicacy 
a = {1,1,1,1,1,1}
print(a)

{1}

In [78]:
a.add(2)
a.add(2)
a.add(2)
a.add(2)
a

{1, 2}

In [83]:
'h1' == 'hi'

False

In [82]:
1 < 2 and 2 > 3

False

In [89]:
#conditionals 
#indentations are extremely important 
if 1>2:
    print('less')
elif 1 < 2:
    print('last')
else:
    print('nada')

last

In [3]:
def square(num):
    """
    This is a docString
    can go multiple lines 
    this function squares a number 
    
    """
    return num**2

In [4]:
a = square(2)
print(a)

4

In [12]:
def times2(var):
    return var + var

In [24]:
#MAP
#iterates a specified function through all the values in list 
seq=[1,2,3,4]
list(map(times2,seq))

[2, 4, 6, 8]

In [25]:
t = lambda num: num **2

In [26]:
t(4)

16

In [27]:
list(map(lambda num: num**2, seq)) #lambda are annonymous functions

[1, 4, 9, 16]

In [23]:
#FILTER
#returns value based on condition applied  
a = list(range(0,5))
list(filter(lambda num: num%2==0, a))

[0, 2, 4]

In [28]:
s = 'Shahriar saleque'

In [38]:
s.split()

['Shahriar', 'saleque']

In [39]:
d = {
    'k1': 1,
    'k2': 2
}

In [40]:
d.keys()

dict_keys(['k1', 'k2'])

In [41]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [42]:
d.values()

dict_values([1, 2])

In [43]:
d.clear()

In [44]:
d

{}

In [47]:
lst = [1,2,3,4]
item = lst.pop()

In [46]:
lst

[1, 2, 3]

In [49]:
item

4

In [50]:
lst

[1, 2, 3]

In [51]:
first = lst.pop(0)
print(first)

1

In [52]:
1 in [1,2,3]

True

In [53]:
#tuple unpacking 
x = [(1,2), (3,4), (5,6)]

In [54]:
x[0]

(1, 2)

In [55]:
x[0][0]

1

In [60]:
for (a,b) in x:
    print(b)

2
4
6